<!DOCTYPE html>
<html>
    <%- include('../partials/head', {
        title: title
    }) %>
    <body>
        <div>
            <h1 class="header"><%= title %></h1>
        </div>
    </body>
</html>