<!DOCTYPE html>
<html>
    <%- include('../partials/head', {
        title: title
    }) %>
    <body>
        <header>
            <h1 class="header"><%= title %></h1>
        </header>
        <main></main>
        <footer></footer>
    </body>
</html>